
lt8722_spi: &spi1 {
    status="okay";
    cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;

    lt8722: lt8722@0 {
        compatible = "zephyr,spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };
};
